/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 70px;
}

footer{
    height: 250px;
    background-color:#2c3e50;
    color:#FFF;
}

.statCover{
    background-color:#008080;
    color:#FFF;
}

.statCoverDatas{
   font-size: 35px;
}
p.statCoverDatas{
   font-size: 20px;
}

.bolder{
    font-weight: bolder;
}

.basic{
    color: #6B8E23;
}

.professional{
    color: #4169E1;
}

.extreme{
    color: #FF4500;
}


.center-img{

    margin: 0px auto;
}

.navbar-brand img{
	max-width:50px;
    margin-top: -12px;
    margin-right: 10px;
}

.resetButton{
    font-size: 20px;
}
.threeReasons i { 
    font-size:70px; 
}
.threeReasons i:hover { 
    font-size:90px; 
}

.six-sec-ease-in-out {
    -webkit-transition: width 16s ease-in-out;
    -moz-transition: width 16s ease-in-out;
    -ms-transition: width 16s ease-in-out;
    -o-transition: width 16s ease-in-out;
    transition: width 16s ease-in-out;
}

.six-ten-ease-in-out {
    -webkit-transition: width 24s ease-in-out;
    -moz-transition: width 24s ease-in-out;
    -ms-transition: width 24s ease-in-out;
    -o-transition: width 24s ease-in-out;
    transition: width 24s ease-in-out;
}

.six-twelve-ease-in-out {
    -webkit-transition: width 32s ease-in-out;
    -moz-transition: width 32s ease-in-out;
    -ms-transition: width 32s ease-in-out;
    -o-transition: width 32s ease-in-out;
    transition: width 32s ease-in-out;
}

.progress{
  height: 33px;
  background-color: #444;
}
.progress-bar{
    font-size: 20px;
}

.ramIcon{
max-width: 256px;
}

.imgIcon img{
max-width:100px;
}

#downloadBar{
height: 35px;
}

#downloadBarSub{
font-size: 20px;
padding-top: 10px;
}

.well.brandHeader
{
   
    font-size: 20px;
}

.reviews-icon{
margin-top: 20px;
margin-bottom: 0px;
}

.bolderLight{
color:#18bc9c;
}

.bolderDark.larger{
color:#008080;
font-weight: bolder;
font-size: 50px;
}

.bolderLight.larger{
color:#18bc9c;
font-weight: bolder;
font-size: 50px;
}

.nav > .active > a,
.nav > .active > a:hover,.nav > li > a:hover {
border-bottom-width: 4px;
border-bottom-style: solid;
border-bottom-color: #18bc9c;
    color: #18bc9c !important;
}

.circle{
    width:30px;
    height:30px;
    border-radius:40px;
    font-size:20px;
    color:#fff;
    line-height:25px;
    text-align:center;
    background:#008080;
    margin: 0px auto;
}

.fs1:hover, button:hover>.fs1 {
	font-size: 70px;
    color:#18bc9c;
}

/* Media queries baby!*/

@media (max-width:500px) {

    #whatis{
    font-size:35px;
    }
    
    #threeSteps{
    display: block;
    }
    
}

/* Owl.Carousel */

#owlGRNreviews .item{
display: block;
width: 100%;
height: auto;
}


@media (max-width:500px) {

    #footerLead{
    font-size:30px;
    }
    
    
}

@media (max-width:600px){

    .setup-desc-wrapper{
    display: none;
    }
    
    .ramTabtext{
    display: none;
    }
    
    .fs1, button > .fs1{
    font-size: 40px;
    }
    
    .fs1:hover, button:hover>.fs1 {
	font-size: 45px;
    color:#18bc9c;
    }
    
    .ramTabHeader{
        display:none;
    }
    
    .ramTabImg{
        max-width: 128px;
    }
    
    .WSButtonsText{
        display:none;
    }
    
    .WSButtonsIcon{
        font-size: 5px;
    }

}


/* IconMoon Icon styles*/
.fs1 {
	font-size: 65px;
}



.activeFS1 {
	font-size: 70px;
    color:#18bc9c;
}

/* Setup wizard styles */

.setup-desc{
color:#FFF;
}

#ramRow{
    background-color: #F8F8FF;
}